@import "../../Assets/sass/mixin";
@import "../../Assets/sass/variables";
@import "../../Assets/sass/extend";
@import "../../Assets/sass/maps";

.error{
    @include flex(flex, wrap, row, space-between, center);
    position: relative;
    img{
        width: 60%;
    }
}

.errorText{
    width: 40%;
    color: $negro;
    height: max-content;
    h1{
        padding-bottom: 1%;
        font-size: 3vw;
    }
}

