body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0%;
  padding: 0%;
  scrollbar-width: thin;
  scrollbar-color: #04BAD8 #F2FF8D; }
  *::selection {
    background-color: #04BAD8;
    color: #F2FF8D; }
  *::-moz-selection {
    background-color: #04BAD8;
    color: #F2FF8D; }
  *::-webkit-scrollbar {
    width: 12px; }
  *::-webkit-scrollbar-track {
    background: #F2FF8D; }
  *::-webkit-scrollbar-thumb {
    background-color: #04BAD8;
    border-radius: 20px; }

html {
  width: 100%; }

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  padding-right: 0 !important;
  cursor: url("../src/images/cursor.png"), auto; }
  body:active {
    cursor: url("../src/images/cursorHover.png"), auto; }

a {
  text-decoration: none;
  color: #393838; }
  a:hover {
    color: #393838; }

li {
  list-style-type: none; }

a, button {
  cursor: url("../src/images/cursorHover.png"), auto !important; }
  a:hover, button:hover {
    cursor: url("../src/images/cursorHover.png"), auto; }